@charset "ISO-8859-1";@charset "ISO-8859-1";
*{
	margin:0;
	padding:0;
	font-family: 'Cinzel', serif;
}

.centerdiv
{
	height: 500px;
	width: 400px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #d9d9d9;
	transform : translate(-50%, -50%);
	opacity:0.9;
}

.inputbox
{
	width: calc(100% - 40px);
	height: 30px;
	display: block;
	margin: auto;
	box-sizing: borderbox;
}
button
{
	color: white;
	background-color: #0A84C6;
	border: none;
}
label
{
	margin-left:160px;
	font-size:20px;
}
